<%- include('../includes/webHeader.ejs') %>

	<!-- Delivery Information -->
	<section>
		<div class="breadcrumb-main">
			<div class="container">
				<div class="breadcrumb-container">
					<h2 class="page-title">Refund Policy</h2>
					<ul class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="index">
								<i class="fas fa-home"></i>
							</a>
						</li>
						<li class="breadcrumb-item">
							<a href="refundpolicy">
								Refund Policy</a>
							</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<div class="information-section">
		<div class="container">
			<div class="row">
				<aside id="column-left" class="col-sm-3">
					<div class="account-content list-group">
						<div class="box-content">
							<h3 class="toggled relative">Account</h3>
							<ul class="list-unstyled">
								<li><a href="my-account" class="list-group-item">Login</a></li>
								<li><a href="my-account" class="list-group-item">Register</a></li>
								<li><a href="#" class="list-group-item">Forgotten Password</a></li>
								<li><a href="my-account" class="list-group-item">My Account</a></li>
								<li><a href="#" class="list-group-item">Address Book</a></li>
								<li><a href="#" class="list-group-item">Wish List</a></li>
								<li><a href="#" class="list-group-item">Order History</a></li>
								<li><a href="#" class="list-group-item">Downloads</a></li>
								<li><a href="#" class="list-group-item">Subscriptions</a></li>
								<li><a href="#" class="list-group-item">Reward Points</a></li>
								<li><a href="#" class="list-group-item">Returns</a></li>
								<li><a href="#" class="list-group-item">Transactions</a></li>
								<li><a href="#" class="list-group-item">Newsletter</a></li>
							</ul>
						</div>
					</div>
					<div class="sidebar">
						<div class="box-content">
							<h3 class="toggled relative">Information</h3>
							<ul class="list-unstyled">
								<li><a href="#" class="list-group-item">Terms &amp; Conditions</a></li>
								<li><a href="delivery-information" class="list-group-item">Delivery Information</a></li>
								<li><a href="about" class="list-group-item">About Us</a></li>
								<li><a href="privacy-policy" class="list-group-item">Privacy Policy</a></li>
								<li><a href="contact" class="list-group-item">Contact Us</a></li>
								<li><a href="site_map" class="list-group-item">Site Map</a></li>
							</ul>
						</div>
					</div>
				</aside>
				<div id="content" class="col-sm-9 all-blog">
					<div class="information-information">
						<h2 class="title">Refund Policy</h2>
						<p class="description">
							<!-- Replace the following content with the actual refund policy -->
							At The Pallu Story, we strive to ensure that our customers are completely satisfied with their purchases. If for any reason you are not satisfied, we offer refunds under the following conditions:
						</p>
						<h2 class="title">Eligibility for Refunds</h2>
						<p class="description">
							Our refund policy lasts 30 days from the date of purchase. If 30 days have gone by since your purchase, unfortunately, we can’t offer you a refund or exchange.
						</p>
						<p class="description">
							To be eligible for a refund, your item must be unused and in the same condition that you received it. It must also be in the original packaging.
						</p>
						<h2 class="title">Non-Refundable Items</h2>
						<p class="description">
							Several types of goods are exempt from being returned:
							<ul>
								<li>Gift cards</li>
								<li>Downloadable software products</li>
								<li>Some health and personal care items</li>
							</ul>
						</p>
						<h2 class="title">To Complete Your Return</h2>
						<p class="description">
							To complete your return, we require a receipt or proof of purchase. Please do not send your purchase back to the manufacturer.
						</p>
						<h2 class="title">Refund Process</h2>
						<p class="description">
							Once your return is received and inspected, we will inspect it and then process refund</p>
							<h2 class="title">Contact Us</h2>
							<p class="description">
								If you have any questions about this Privacy Policy, please contact us at info@thepallustory.com.
							</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- .Delivery Information -->

	<%- include('../includes/webFooter.ejs') %>